.navbar-icon{
    color:black
}
.navbar-user{
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar-user-name{
    margin-left: 7px;
}
.me-auto{
    margin-right: 0 !important;
}
.collapse{
    display: flex;
    justify-content:space-between
}
.card{
    border:none;
}
.card-body-padding{
    padding: 0;
}
.title-padding{
    padding-top: 70px;
    padding-bottom: 20px ;
}
.card-title-edit{
    font-size: 40px;
}
.card-title-edit-2{
    font-size: 24px;
}
.card-link+.card-link{
    margin-left: unset;
}